<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${user.getName()}"></title>
</head>
<body>
<div>
    <form th:method="PATCH" th:action="@{/users}" th:object="${user}">
        <input type="hidden" th:field="*{id}" th:value="*{id}"/>
        <br/>
        <label for="name"> Enter name: </label>
        <br/>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="age"> Enter age: </label>
        <br/>
        <input type="number" th:field="*{age}" id="age"/>
        <br/>
        <label for="gender"> Enter gender: </label>
        <br/>
        <input type="text" th:field="*{gender}" id="gender"/>
        <br/>
        <input type="submit" value="Edit user">
    </form>
</div>
</body>
</html>